@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Tailor.Management.ABP.Pages.Account.CustomRegistrationModel
@{
}

@inject IHtmlLocalizer<AccountResource> L

<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>@L["Register"]</h4>
        <strong>
            @L["AlreadyRegistered"]
            <a href="@Url.Page("./Login", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Login"]</a>
        </strong>
        <form method="post" class="mt-4">

            @*@if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.Name" class="form-control" label="First name *" />
            }

            @if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.Surname" class="form-control" label="Last name *" />
            }*@


            @if (!Model.IsExternalLogin)
            {
                    <abp-input asp-for="Input.UserName" auto-focus="true" label="User name *"/>
            }

            @*@if (!Model.IsExternalLogin)
            {
                    <abp-input asp-for="Input.PhoneNumber" auto-focus="true" label="Phone number *"/>
            }*@

            @if (Model.Input.EmailAddress.Length <= 0)
            {
                <abp-input asp-for="Input.EmailAddress" label="Email address *"/>
            }
            else
            {
                <abp-input asp-for="Input.EmailAddress" label="Email address *" readonly=true />
            }


            @if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.Password" />
            }

            

            @if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.ConfirmPassword" label="Confirm password *"/>
            }

            <abp-input asp-for="Input.Role" hidden readonly="true" suppress-label="true" />

            @*@if (!Model.IsExternalLogin && Model.Input != null)
            {
                <abp-input asp-for="Input.Role" hidden />
            }else
            {
                <abp-input asp-for="Input.Role" hidden />
            }
            *@

            <div class="d-grid gap-2">
                <abp-button button-type="Primary" type="submit" class="btn-lg mt-4">@L["Register"]</abp-button>
            </div>
        </form>
    </div>
</div>